# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/.ninja_log
build/.cmake/api/v1/reply/index-2022-07-29T13-19-59-0712.json
build/.cmake/api/v1/reply/index-2022-07-29T15-35-38-0353.json
build/.ninja_log
